<h1>冰與火災情支援網</h1>
<br>
<%= form_for @event, :url => events_path do |f| %>
<!-- { :f => f } 將f 傳到 partial裡面的:f -->
<%= render :partial => 'form', :locals => { :f => f } %>
<%= f.submit "Create" ,:class =>"btn btn-primary"%>
<% end %>

<br>
<h2>災情快訊</h2>
<table class="table">
	<thead>
		<tr>
			<th>標題</th>
			<th>建立時間</th>
			<th>快訊操作</th>
		</tr>
	</thead>
	<tbody>

		<tr><% @events.each do |event| %></tr> 
		
		<tr>
			<th><%= event.title %></th>
			<th><%= event.created_at %></th>
			<th>
			<%= link_to "edit", edit_event_path(event) %>
			<%= link_to "show", event_path(event) %>
			<%= link_to "delete", event_path(event, :page => params[:page]), method: :delete %>
			</th>

			<% end %>
		</tr>
	</tbody>
</table>

<%= paginate @events %>